@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #efefef;
  --background-color: rgba(255, 255, 255, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 20px;
  background-image: url("http://localhost/user-side/assets/img/travelulu.jpg");
  background-position: center;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.wrapper {
  width: 90%;
  max-width: 400px;
  border-radius: 16px;
  padding: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--primary-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.input-field {
  position: relative;
  margin: 20px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-50%);
  color: var(--secondary-color);
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-field input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  color: var(--primary-color);
  padding-left: 15px;
  transition: all 0.3s ease;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%) translateX(-50%);
  color: var(--primary-color);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.wrapper a:hover {
  color: #fff;
}

button {
  background: transparent;
  color: var(--primary-color);
  font-weight: 600;
  border: 2px solid var(--primary-color);
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease;
}

button:hover {
  background: var(--background-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.register,
.login {
  text-align: center;
  margin-top: 30px;
  color: var(--secondary-color);
}

.register a,
.login a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
}

.register a:hover,
.login a:hover {
  text-decoration: underline;
}
